@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.cdnfonts.com/css/origin-tech-demo');
:root{
    --color-dark: #505050;
    --color-white: #f2f3f5;
}
*{
    font-family: 'arial', sans-serif;
    font-weight: bold;
    color: white;
}
.logo{
    font-family: 'Origin Tech Demo', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a.nav-link{
    text-shadow: 0px 1px 6px black;
    padding: 0px 8px;
    color: white;
}
nav a.nav-link:hover{
    color: white;
    text-shadow: 0 0 5px #1E90FF,0 0 8px #1E90FF,0 0 11px #1E90FF,0 0 15px #1E90FF,0 0 18px #1E90FF,0 0 22px #1E90FF,0 0 25px #1E90FF;
    transition: 0.5s;
    font-size: 16.3px;
}
.background-image{
    background: url("../image/wallpaperf.png");
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1000;
}
.first-title{
    margin: 13rem 10px 10px 28px;
    padding-right: -5rem;
}
.glow {
    margin-bottom: 18px;
    font-size: 52px;
    color: white;
    animation: glow 1.3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #1E90FF,0 0 30px #1E90FF;
    }to {
      text-shadow: 0 0 10px #1E90FF,0 0 15px #1E90FF,0 0 20px #1E90FF,0 0 25px #1E90FF,0 0 30px #1E90FF,0 0 35px #1E90FF,0 0 45px #1E90FF,0 0 60px #1E90FF,0 0 70px #1E90FF;
    }
}
.light{
    outline: 0px solid white;
    outline-offset: 0px;
    margin-right: 20px;
}
.light:hover{
    outline: 1px solid white;
    outline-offset: 4px;
    transition: 0.2s ease-in-out;
}
header{
    padding-bottom: 12%;
    margin-bottom: 5rem;
    cursor: none;
}
#steps *{
    color: var(--color-dark);
}
.titre-steps{
    text-align: center;
}
.grand-titre{
    color: #00688B;
    font-weight: 800;
    margin-bottom: 20px;
}
[class^="cursor"]{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    /* z-index: 5000; */
    pointer-events: none;
}
.cursor-out{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    transition: 0.2s ease-out;
    box-shadow: 0 0 5px #1E90FF,0 0 10px #1e90ff,0 0 15px #1E90FF,0 0 30px #1E90FF,0 0 45px #1E90FF,0 0 60px #1E90FF,0 0 70px #1E90FF;
}
.cursor-in{
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: 0 0 5px #1E90FF,0 0 10px #1e90ff,0 0 15px #1E90FF,0 0 30px #1E90FF,0 0 45px #1E90FF,0 0 60px #1E90FF,0 0 70px #1E90FF;
}
.first-title:hover ~ .cursor-out{
    width: 70px;
    height: 70px;
    background-color: white;
    mix-blend-mode: difference;
}
.first-title:hover ~ .cursor-in{
    opacity: 0;
}
.categorie-cell{
    width: 8rem;
    height: 4rem;
    margin-right: 10px;
    margin-top: 10px;
    background: linear-gradient(to right, #003973,#86c2ff);
    border-radius: 12px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.categorie-cell:hover{
    box-shadow: 0 6px 8px gray;
    transform: translateY(-8px);
    border-color: white;
    transition: 0.4s;
}
.card{
    width: 21rem;
    margin: 0 auto;
    overflow: hidden;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 1px 2px 8px black;
    transition: 0.6s;
}
.card-img-top{
    height: 460px;
    object-fit: cover;
}
.card:hover .card-img-top{
    transform: scale(1.1);
    transition: transform .5s, visibility .6s ease-in;
}
.card-body{
    height: 96px;
    position: absolute;
    background: linear-gradient(to top,rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0));
    height: 11rem;
    top: 23rem;
    width: 100%;
}
.card:hover .card-body{
    top: 18rem;
    transition: 0.6s ease-out;
}
.card-text{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.card .date{
    position: absolute;
}
.popup-form{
    padding: 50px 20px;
    display: flex;
    border-radius: 20px;
    z-index: 5000;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    position: fixed;
    top: 25%;
    left: 22%; 
    box-shadow:0 0 30px rgba(50, 50, 50, 0.5),0 0 100px rgba(128, 128, 128, 0.5);
    text-align: center;
    width: 60%;
    display: none;
}
input{
    margin: 5px;
    padding: 5px;
    padding-left: 12px;
    width: 70%;
    border: none;
    color: var(--color-dark);
    font-weight: 500;
}
input.input-index{
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    outline: none;
}
.slide-form{
    position: absolute;
    background: linear-gradient(to right,rgba(171, 226, 248, 1), rgb(8, 50, 109));
    width: 50%;
    height: 100%;
    backdrop-filter: blur(10px);
    top: 0;
    left: 50%;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.5s ease-out;
}
#btn-slide{
    transition: 0.5s;
}
.close{
    position: absolute;
    top: 20px;
    z-index: 500;
}
:is(.fa-chevron-up,.txt-haut):hover{
    transform: translateY(-5px);
    transition: 0.4s;
}
/* dashboard */
#header-dashboard *{
    font-weight: 600;
}
aside .nav-link{
    margin-right: -8px;
    margin-left: -8px;
}
aside .logo{
    margin-left: -5px;
    text-align: center;
}
aside .logo:hover{
    background-color: #302d2d;
    text-shadow: 0 0 5px #1E90FF,0 0 8px #1E90FF,0 0 11px #1E90FF,0 0 15px #1E90FF,0 0 18px #1E90FF,0 0 22px #1E90FF,0 0 25px #1E90FF;
}
#header-dashboard{
    display: grid;
    height: 100vh;
    grid-template-columns: 17% auto;
    grid-template-rows: 53px auto;
    grid-template-areas: "aside nav"
                        "aside main";
}
#nav-side{
    grid-area: aside;
}
#nav-top{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.btn-group *{
    font-size: 14px;
    color: var(--color-dark);
    font-weight: 500;
}
.dropdown-menu li{
    padding-top: 5px;
    padding-left: 5px;
}
.a-link:hover , .a-link:hover .i-link ,.active, .active .i-link{
    background-color: white;
    color: var(--color-dark);
    transition: .4s ease-in-out;
}
.a-link:hover .text-sidebar{
    color: var(--color-dark);
}
table :is(td,th){
    color: var(--color-dark);
    font-size: 12px;
}
.table{
    border-top: 1px solid lightgrey; 
}

.container-table{
    width: 50%;
}
.btn-dashboard{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 750px){
    .glow {
        margin-bottom: 0px;
        font-size: 40px;
    }
    .text-sidebar{
        display: none;
    }
    #header-dashboard{
        grid-template-columns: 50px auto;
    }
    .btn-dashboard{
        display: flex;
        flex-direction: column;
    }
    .card-dash{
        width: calc(100% - 90px);
    }
    .container-dash{
        flex-direction: column;
    }
    #piechart{
        width: 100%;
    }
}

.erreur{
    visibility: hidden;
}
.alert-erreur{
    visibility: hidden;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 7rem;
    left: 56%;
    color: tomato;
}
#alert-session{
    position: fixed;
    top: 90%;
    left: 89%;
}